.App{
    height: 100vh;
}

.bg-img{
    height: 100%;
    background-image: url(./assest/Sign\ In\ Page\ Desktop.png);
    background-size: cover;
}

@media screen and (max-width: 520px) {
    .App{
        object-fit: cover;
    }

}